:root {
  --background-color: pink;
  --bodyTextcolor: white;
}
* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--background-color);
  margin: 0;
  color: var(--bodyTextcolor);
  font-family: rubik;
}

.container {
  padding: 100px;
  margin: 10dvh auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
  margin-bottom: 10vh;
}

#pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 10px;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: rgb(239, 2, 73);
  color: white;
  text-align: center;
  border-radius: 5%;
  border: 10px dotted white;
}

.card:hover {
  animation: bounce 0.2s linear;
}

.card-title {
  letter-spacing: 3px;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
}
.card-subtitle {
  margin-top: 5px;
  color: #666;
  font-weight: lighter;
}

.card-image {
  height: 100px;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
